.note-viewer {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  padding: 1rem;
  border: 1px solid #ddd; /* Optional for debugging layout */
  overflow-y: auto; /* Scrollable if content overflows */
  height: auto; /* Adjust height as needed */
}



/* Editor styles */
.note-editor {
  flex: 1; /* Take remaining space */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto; /* Make editor scrollable */
  height: 50%;
  max-height: 50%;
  box-sizing: border-box;
}

.editor-header {
  margin-bottom: 1rem;
  max-height:10%;
}

.save-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  max-height:10%;
}

.save-button:hover {
  background-color: #45a049;
}

.no-selection {
  padding: 1rem;
  color: #999;
  font-style: italic;
}

.html-viewer{
  flex: 1; /* Take remaining space */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto; /* Make editor scrollable */
  border: ridge;
  height: 50%;
  box-sizing: border-box;
}

.note-space {
  overflow-y: auto; /* Editor scrollable */
  padding: 1rem;
  width: -webkit-fill-available;
  height: 100%;
  box-sizing: border-box;
}

.ql-toolbar {
  max-height: -webkit-fill-content;
}

.ql-editor {
  overflow-y: scroll;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  max-height:100%;
}

.ql-container {
  box-sizing: border-box;
  max-height: 90%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

.quill{
  max-height: -WEBKIT-FILL-AVAILABLE;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  max-height:80%;
}

.note-info {
  margin-bottom: 10px; /* Add spacing between elements */
  width: 100%; /* Ensure full width */
}